/.project
../3 dias para matar.txt
"../Aula Pr\303\241tica 01.docx"
../BR8.png
../Curso Desenvolvedor Web/
../CursoGit/
./
../DR1.png
../Ferramentas/
../GitEye.lnk
../GitHub Desktop.lnk
"../Itiner\303\241rio BUS JOALINA.jpg"
"../Itiner\303\241rio BUS UNIVASF.pdf"
../Jogos/
../MSI Afterburner.lnk
../Nova pasta/
../PR4.png
../Python/
../Queridinhas e As gatinhas (1980).txt
../R88.png
../RivaTuner Statistics Server.lnk
../desktop.ini
../imp.txt
../~$FTWARES EDUCACIONAIS 1.docx
"../~$F\303\255sica Experimental II - Relat\303\263rio 3.xlsx"
"../~$gica computacional em \303\241rvore.docx"
../~WRL0108.tmp
